<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="../../src/index.css" rel="stylesheet">
    <title>Swepty</title>
</head>

<body>
    <header>
        <img id="logo" src="../images/logo.png" alt="logo" />
    </header>

    <div class="container-flex">
        <button class="btn btn-outline-info" id="back-btn">Back</button>
    </div>

    <article class="container">
        <div style="background-color: aliceblue;" id="article-title">
            <h1 class="text-center">Slant Six</h1>
        </div>

        <h3 id="subtitle">170 cid</h3>
        <p class="article-text border-start border-5">
            The first Slant Six to roll off the assembly line in 1959 was 170 in<sup>3</sup> (2.8L).
            It produced a modest 101 hp and 155 lb. ft. of torque; while it may not have been the beefiest
            powerplant for Dodge's heavy-duty lineup, it was supremely reliable and fuel-efficient. 
        </p>

        <h3 id="subtitle">198 cid</h3>
        <p class="article-text border-start border-5">
            The latest of the three Slant-Six configurations, the 198 cid (3.2L) was introduced in 1970.
            Producing 125 hp and 180 lb. ft. of torque, it was a step above the 170 but still lacked the
            attractive power and torque characteristics of the 225 (and the V8s).
        </p>

        <h3 id="subtitle">225 cid</h3>
        <p class="article-text border-start border-5">
            Officially, the 225 produced 145 hp @ 4000 rpm and 215 lb. ft. of torque @ 2800. When GM ran 
            a competitive analysis of the engine in March 1961, they found that it actually reached a peak 
            torque of 190 lb. ft. @ 1400 rpm (as installed in the car). The Slant's impressive torque characteristics
            made it a great workhorse, even in Dodge's heavier trucks.
        </p>
    </article>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>