<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="../../src/index.css" rel="stylesheet">
    <title>Swepty</title>
</head>

<body>
    <header>
        <img id="logo" src="../images/logo.png" alt="logo" />
    </header>

    <div class="container-flex">
        <button class="btn btn-outline-info" id="back-btn">Back</button>
    </div>

    <main class="container-flex">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img id="css-img" src="../images/css.jpg" class="card-img-top" alt="custom-sport-special">
                    <div class="card-body">
                        <h5 class="card-title" id="css-title">Custom Sport Special</h5>
                        <p class="card-text">
                            Ultra rare! This one had the massive Wedge 426.
                        </p>
                        <a href="#" class="btn btn-primary">Explore</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img id="adventurer-img" src="../images/adventurer.jpg" class="card-img-top" alt="318-engine">
                    <div class="card-body">
                        <h5 class="card-title" id="adventurer-title">Adventurer</h5>
                        <p class="card-text">
                            Bucket seats and the 383 made this one a keeper!
                        </p>
                        <a href="#" class="btn btn-primary">Explore</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img id="dude2-img" src="../images/dude2.jpg" class="card-img-top" alt="383-engine">
                    <div class="card-body">
                        <h5 class="card-title" id="dude2-title">Dude</h5>
                        <p class="card-text">
                            Age test: Were you alive when "dude" meant city-slicker?
                        </p>
                        <a href="#" class="btn btn-primary">Explore</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>