header {
  color: white;
  background-color: skyblue;
  text-align: center;
  padding: 5px;
  margin-bottom: 15px;
}

#classes-img {
  margin-top: 70px;
}

#classes-title {
  margin-top: 71px;
}

#axles-title {
  margin-top: 53px;
}

#axles-img {
  margin-top: 43px;
}