header {
  color: white;
  background-color: skyblue;
  text-align: center;
  padding: 5px;
}

.card {
  margin: 30px auto;
}

#classes-img {
  margin-top: 70px;
}

#classes-title {
  margin-top: 71px;
}

#axles-title {
  margin-top: 53px;
}

#axles-img {
  margin-top: 43px;
}

#special-title {
  margin-top: 54px;
}

#special-img {
  max-height: 250px;
}

#three18-title {
  margin-top: 15px;
}

#three83-title {
  margin-top: 35px;
}

#four26-title {
  margin-top: 13px;
}