html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

header {
  color: white;
  background-color: skyblue;
  text-align: center;
  padding: 5px;
}

#subtitle {
  color: dimgray;
  margin-top: 10px;
}

#back-btn {
  margin: 10px 10px;
}

.card {
  margin: 10px auto;
}

#classes-img {
  margin-top: 70px;
}

#classes-title {
  margin-top: 71px;
}

#axles-title {
  margin-top: 53px;
}

#axles-img {
  margin-top: 43px;
}

#special-title {
  margin-top: 54px;
}

#special-img {
  max-height: 250px;
}

#three18-title {
  margin-top: 15px;
}

#three83-title {
  margin-top: 35px;
}

#four26-title {
  margin-top: 13px;
}

#dw-title {
  margin-top: 2px;
}

#w200-title {
  margin-top: 2px;
}

#ratios {
  margin: 30px auto;
}

.btn-info {
  color: white;
}

#eight75-img {
  margin-top: 27px;
}

#eight75-title {
  margin-top: 28px;
}